.calendarTitle {
  background-color: #4f4841;
  font-size: 2rem;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

table {
  width: 40%;
  border-radius: 1rem;
  background-color: #4f4841;
  border-spacing: 0;
}
.calendar {
  display: flex;
  flex-direction: row;
}

th,
td {
  padding: 8px;
  text-align: left;
  text-align: center;
}

table tr:first-child th:first-child {
  background-color: #bd9166;
  color: black;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-bottom: 1px solid black;
}
table tr:first-child th:last-child {
  background-color: #bd9166;
  color: black;
  font-weight: bold;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid black;
}

table tr td {
  border-bottom: 1px solid black;
}
table tr:last-child td {
  border-bottom: none;
}
select {
  padding: 8px;
  border-radius: 1rem;
  font-size: 14px;
  background-color: #bd9166;
  color: #333;
  width: 100%;
}

select:hover {
  border-color: #ff6c17;
}

.edit {
  background-color: #ff6c17;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  color: black;
  height: fit-content;
  text-decoration: none;
  align-self: center;
  text-align: center;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit:hover {
  background-color: gray;
}

.activity {
  font-weight: bold;
}
