table {
  width: 35%;
  border-radius: 1rem;
}
.calendar {
  display: flex;
  flex-direction: row;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #82786f;
  text-align: center;
}

th {
  background-color: #bd9166;
  border-radius: 1rem;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 14px;
  background-color: #bd9166;
  color: #333;
  width: 100%;
}

select:hover {
  border-color: #ff6c17;
}
.edit {
  background-color: #ff6c17;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  color: black;
  height: fit-content;
  text-decoration: none;
  align-self: center;
  text-align: center;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit:hover {
  background-color: gray;
}
tbody {
  border-radius: 1rem;
  background-color: gray;
}
