.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendarDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #4f4841;
}
.dayNumber {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
}
.addButton {
  background-color: #bd9166;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  color: black;
  height: fit-content;
  text-decoration: none;
  align-self: center;
  text-align: center;
  font-size: large;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
.addButton:hover {
  background-color: gray;
}
