.Exercises {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.optionTab {
    margin-top: 1rem;
    width: 50vw;
    background-color: #4F4841;
    display: flex;
    border-radius: 15px;

}
.optionTab:nth-child(2){
    flex-direction: row-reverse;
}

.option {
    border-radius: 15px;
    text-decoration: none;
    padding: 2rem 3rem;
    background-color: #BD9166;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;

}

.option:hover {
    text-decoration: underline;

}