.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4f4841;
  border-radius: 1rem;
  padding: 6rem 3rem;
}
.loginForm input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}
.loginForm button {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: large;
  border: none;
  background-color: #bd9166;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
