.welcome {
  background-color: #4f4841;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
}

.weeklyCalendar {
  background-color: #4f4841;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: center;
}

.weeklyCalendar .weeklyDay {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #2e2925;
  color: #bd9166;
  margin: 0.5rem;
}

.weeklyCalendar .currentDay {
  background-color: #bd9166;
  color: #2e2925;
}

.notLoggedInPage {
  background-color: #4f4841;
  border-radius: 1rem;
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notLoggedInPage h1 {
  background-color: #bd9166;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.notLoggedInPage p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.notLoggedInPage .navLinkB {
  text-decoration: none;
}
.notLoggedInPage .button {
  background-color: #ff6c17;
  border-radius: 1rem;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
