.articlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 0 20px;
}

.articlesContainer .article {
  margin: 20px 0;
  padding: 20px;
  background-color: #4f4841;
  border-radius: 1rem;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.articlesContainer .article h2 {
  color: #bd9166;
  background-color: #2e2925;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}
.articlesContainer .article img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 20px;
}
.articlesContainer .article .intro {
  color: #bd9166;
  background-color: #2e2925;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}
.articlesContainer .article .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.articlesContainer .article .author {
  color: #bd9166;
  background-color: #2e2925;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 20px;
}

.articlesContainer .article .date {
  color: #bd9166;
  background-color: #2e2925;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  align-self: center;
}

.articlesContainer .showMore {
  color: black;
  background-color: #ff6c17;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  align-self: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.articlesContainer .showMore:hover {
  background-color: gray;
}
